.clock {
    text-shadow: 3px 1px 5px white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background-color: black;
    color: white;
    font-size: 100px
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}